{% extends 'base.html' %}

{% block title %}Items{% endblock %}

{% block content %}
<h1 class="mt-5">Images</h1>
<a class="btn btn-primary" href="{% url 'images:upload' %}">Add</a>
<div class="row row-cols-4">
{% for image in image_list %}
    <div class="row">
        <div class="card">
            <a href="{% url 'images:detail' image.pk %}">
                <img src="{{ image.main_image_uri }}" class="card-img-top" alt="{{ image.filename }}">
            </a>
        </div>
    </div>

{% endfor %}
</div>
{% endblock %}